#Dataframe

In [2]:
import pandas as pd

In [3]:
a=[1,2,3,4,5]
var= pd.DataFrame(a)
print(var)

   0
0  1
1  2
2  3
3  4
4  5

In [5]:
d={"a":[1,2,3,4,5],"s":[2,5,6,7,8],"d":[8,9,10,15,17]}
var1 =pd .DataFrame(d,columns=["a","s","d"])
print(var1)

   a  s   d
0  1  2   8
1  2  5   9
2  3  6  10
3  4  7  15
4  5  8  17

In [7]:
sr={"s":pd.Series([1,2,3,4,5]),"r":pd.Series([4,5,6,7,8])
    }
var3=pd.DataFrame(sr)
print(var3)
print(type(var3))

   s  r
0  1  4
1  2  5
2  3  6
3  4  7
4  5  8
<class 'pandas.core.frame.DataFrame'>

#Airthmetic operations on pandas data frame

In [8]:
import pandas as pd 
var =pd.DataFrame({"a":[1,2,3,4],"b":[4,5,6,7]})
print(var)

   a  b
0  1  4
1  2  5
2  3  6
3  4  7

In [9]:
var["c"]=var["a"]+var["b"]
var

   a  b   c
0  1  4   5
1  2  5   7
2  3  6   9
3  4  7  11

In [10]:
var1 =pd.DataFrame({"a":[10,20,30,40],"b":[40,50,60,70]})
print(var1)

    a   b
0  10  40
1  20  50
2  30  60
3  40  70

In [12]:
var1["python"]=var1["a"]<30
var1

    a   b  python
0  10  40    True
1  20  50    True
2  30  60   False
3  40  70   False

#insert

In [17]:
import pandas as pd 
var =pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8]},dtype="float")
print(var)

     a    b
0  1.0  5.0
1  2.0  6.0
2  3.0  7.0
3  4.0  8.0

In [18]:
var.insert(1,"python",var["a"])
var

     a  python    b
0  1.0     1.0  5.0
1  2.0     2.0  6.0
2  3.0     3.0  7.0
3  4.0     4.0  8.0

var["python_1"]=var["a"][:3]
var

#Deletion

In [21]:
import pandas as pd 
var =pd.DataFrame({"a":[1,2,3,4],"b":[5,6,7,8],"c":[3,4,5,6]},dtype="float")
print(var)

     a    b    c
0  1.0  5.0  3.0
1  2.0  6.0  4.0
2  3.0  7.0  5.0
3  4.0  8.0  6.0

In [23]:
var1=var.pop("b")
var1

0    5.0
1    6.0
2    7.0
3    8.0
Name: b, dtype: float64

In [24]:
var

     a    c
0  1.0  3.0
1  2.0  4.0
2  3.0  5.0
3  4.0  6.0

In [25]:
del var["a"]
var

     c
0  3.0
1  4.0
2  5.0
3  6.0