##pandas practice

In [1]:
import pandas as pd
import numpy as np

data = {
    "Name": ["Amit", "Rahul", "Priya", "Neha", "Rahul", "Amit"],
    "City": ["Delhi", "Mumbai", "Delhi", "Chennai", "Mumbai", "Delhi"],
    "Age": [25, 30, np.nan, 28, 30, 26],
    "Salary": [45000, 52000, 61000, 47000, np.nan, 43000],
    "Department": ["Sales", "HR", "IT", "IT", "HR", "Sales"]
}
df = pd.DataFrame(data)
df.to_csv("sample.csv", index=False)

df = pd.read_csv("sample.csv")
print("\nDATA\n", df)

print("\nColumns:", df.columns)
print("\nShape:", df.shape)
print("\nInfo:")
df.info()
print("\nDescribe:\n", df.describe())

print("\nSingle column:\n", df["Name"])
print("\nMultiple columns:\n", df[["Name", "Salary"]])
print("\nRows 0-2:\n", df.iloc[0:3])
print("\nCity = Delhi:\n", df[df["City"] == "Delhi"])

print("\nAge > 26:\n", df[df["Age"] > 26])
print("\nQuery Salary > 45000:\n", df.query("Salary > 45000"))

print("\nMissing counts:\n", df.isna().sum())
df["Age"].fillna(df["Age"].mean(), inplace=True)
df["Salary"].fillna(df["Salary"].median(), inplace=True)
print("\nAfter filling:\n", df)

df["Bonus"] = df["Salary"] * 0.10
df["Status"] = np.where(df["Salary"] > 50000, "High Paid", "Avg Paid")
print("\nNew columns:\n", df)

print("\nGroupBy Department Salary mean:\n", df.groupby("Department")["Salary"].mean())
print("\nGroupBy City summary:\n", df.groupby("City").agg({"Salary": "mean", "Age": "max"}))

print("\nSorted by Salary:\n", df.sort_values("Salary", ascending=False))
print("\nUnique Cities:", df["City"].unique())
print("\nCity Value Counts:\n", df["City"].value_counts())

df["Name_Length"] = df["Name"].apply(lambda x: len(x))
print("\nApply result:\n", df)

extra = pd.DataFrame({
    "Name": ["Amit", "Priya"],
    "Experience": [2, 4]
})
merged = df.merge(extra, on="Name", how="left")
print("\nMerged Data:\n", merged)

concat_df = pd.concat([df, merged], axis=0)
print("\nConcatenated Data:\n", concat_df)

pivot = pd.pivot_table(df, values="Salary", index="Department", columns="City", aggfunc="mean")
print("\nPivot Table:\n", pivot)

df.to_csv("final_output.csv", index=False)
df.to_excel("final_output.xlsx", index=False)
print("\nCompleted. Files exported: final_output.csv & final_output.xlsx")

DATA
     Name     City   Age   Salary Department
0   Amit    Delhi  25.0  45000.0      Sales
1  Rahul   Mumbai  30.0  52000.0         HR
2  Priya    Delhi   NaN  61000.0         IT
3   Neha  Chennai  28.0  47000.0         IT
4  Rahul   Mumbai  30.0      NaN         HR
5   Amit    Delhi  26.0  43000.0      Sales

Columns: Index(['Name', 'City', 'Age', 'Salary', 'Department'], dtype='object')

Shape: (6, 5)

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        6 non-null      object
 1   City        6 non-null      object
 2   Age         5 non-null      float64
 3   Salary      5 non-null      float64
 4   Department  6 non-null      object
dtypes: float64(2), object(3)
memory usage: 372.0+ bytes

Describe:
              Age        Salary
count   5.000000      5.000000
mean   27.800000  49600.000000
std     2.280351   7197.221686
min    25.000000  43000.000000
25%    26.000000  45000.000000
50%    28.000000  47000.000000
75%    30.000000  52000.000000
max    30.000000  61000.000000

Single column:
 0     Amit
1    Rahul
2    Priya
3     Neha
4    Rahul
5     Amit
Name: Name, dtype: object

Multiple columns:
     Name   Salary
0   Amit  45000.0
1  Rahul  52000.0
2  Priya  61000.0
3   Neha  47000.0
4  Rahul      NaN
5   Amit  43000.0

Rows 0-2:
     Name    City   Age   Salary Department
0   Amit   Delhi  25.0  45000.0      Sales
1  Rahul  Mumbai  30.0  52000.0         HR
2  Priya   Delhi   NaN  61000.0         IT

City = Delhi:
     Name   City   Age   Salary Department
0   Amit  Delhi  25.0  45000.0      Sales
2  Priya  Delhi   NaN  61000.0         IT
5   Amit  Delhi  26.0  43000.0      Sales

Age > 26:
     Name     City   Age   Salary Department
1  Rahul   Mumbai  30.0  52000.0         HR
3   Neha  Chennai  28.0  47000.0         IT
4  Rahul   Mumbai  30.0      NaN         HR

Query Salary > 45000:
     Name     City   Age   Salary Department
1  Rahul   Mumbai  30.0  52000.0         HR
2  Priya    Delhi   NaN  61000.0         IT
3   Neha  Chennai  28.0  47000.0         IT

Missing counts:
 Name          0
City          0
Age           1
Salary        1
Department    0
dtype: int64

After filling:
     Name     City   Age   Salary Department
0   Amit    Delhi  25.0  45000.0      Sales
1  Rahul   Mumbai  30.0  52000.0         HR
2  Priya    Delhi  27.8  61000.0         IT
3   Neha  Chennai  28.0  47000.0         IT
4  Rahul   Mumbai  30.0  47000.0         HR
5   Amit    Delhi  26.0  43000.0      Sales

New columns:
     Name     City   Age   Salary Department   Bonus     Status
0   Amit    Delhi  25.0  45000.0      Sales  4500.0   Avg Paid
1  Rahul   Mumbai  30.0  52000.0         HR  5200.0  High Paid
2  Priya    Delhi  27.8  61000.0         IT  6100.0  High Paid
3   Neha  Chennai  28.0  47000.0         IT  4700.0   Avg Paid
4  Rahul   Mumbai  30.0  47000.0         HR  4700.0   Avg Paid
5   Amit    Delhi  26.0  43000.0      Sales  4300.0   Avg Paid

GroupBy Department Salary mean:
 Department
HR       49500.0
IT       54000.0
Sales    44000.0
Name: Salary, dtype: float64

GroupBy City summary:
                Salary   Age
City
Chennai  47000.000000  28.0
Delhi    49666.666667  27.8
Mumbai   49500.000000  30.0

Sorted by Salary:
     Name     City   Age   Salary Department   Bonus     Status
2  Priya    Delhi  27.8  61000.0         IT  6100.0  High Paid
1  Rahul   Mumbai  30.0  52000.0         HR  5200.0  High Paid
4  Rahul   Mumbai  30.0  47000.0         HR  4700.0   Avg Paid
3   Neha  Chennai  28.0  47000.0         IT  4700.0   Avg Paid
0   Amit    Delhi  25.0  45000.0      Sales  4500.0   Avg Paid
5   Amit    Delhi  26.0  43000.0      Sales  4300.0   Avg Paid

Unique Cities: ['Delhi' 'Mumbai' 'Chennai']

City Value Counts:
 City
Delhi      3
Mumbai     2
Chennai    1
Name: count, dtype: int64

Apply result:
     Name     City   Age   Salary Department   Bonus     Status  Name_Length
0   Amit    Delhi  25.0  45000.0      Sales  4500.0   Avg Paid            4
1  Rahul   Mumbai  30.0  52000.0         HR  5200.0  High Paid            5
2  Priya    Delhi  27.8  61000.0         IT  6100.0  High Paid            5
3   Neha  Chennai  28.0  47000.0         IT  4700.0   Avg Paid            4
4  Rahul   Mumbai  30.0  47000.0         HR  4700.0   Avg Paid            5
5   Amit    Delhi  26.0  43000.0      Sales  4300.0   Avg Paid            4

Merged Data:
     Name     City   Age   Salary Department   Bonus     Status  Name_Length  \
0   Amit    Delhi  25.0  45000.0      Sales  4500.0   Avg Paid            4
1  Rahul   Mumbai  30.0  52000.0         HR  5200.0  High Paid            5
2  Priya    Delhi  27.8  61000.0         IT  6100.0  High Paid            5
3   Neha  Chennai  28.0  47000.0         IT  4700.0   Avg Paid            4
4  Rahul   Mumbai  30.0  47000.0         HR  4700.0   Avg Paid            5
5   Amit    Delhi  26.0  43000.0      Sales  4300.0   Avg Paid            4

   Experience
0         2.0
1         NaN
2         4.0
3         NaN
4         NaN
5         2.0

Concatenated Data:
     Name     City   Age   Salary Department   Bonus     Status  Name_Length  \
0   Amit    Delhi  25.0  45000.0      Sales  4500.0   Avg Paid            4
1  Rahul   Mumbai  30.0  52000.0         HR  5200.0  High Paid            5
2  Priya    Delhi  27.8  61000.0         IT  6100.0  High Paid            5
3   Neha  Chennai  28.0  47000.0         IT  4700.0   Avg Paid            4
4  Rahul   Mumbai  30.0  47000.0         HR  4700.0   Avg Paid            5
5   Amit    Delhi  26.0  43000.0      Sales  4300.0   Avg Paid            4
0   Amit    Delhi  25.0  45000.0      Sales  4500.0   Avg Paid            4
1  Rahul   Mumbai  30.0  52000.0         HR  5200.0  High Paid            5
2  Priya    Delhi  27.8  61000.0         IT  6100.0  High Paid            5
3   Neha  Chennai  28.0  47000.0         IT  4700.0   Avg Paid            4
4  Rahul   Mumbai  30.0  47000.0         HR  4700.0   Avg Paid            5
5   Amit    Delhi  26.0  43000.0      Sales  4300.0   Avg Paid            4

   Experience
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
5         NaN
0         2.0
1         NaN
2         4.0
3         NaN
4         NaN
5         2.0

Pivot Table:
 City        Chennai    Delhi   Mumbai
Department
HR              NaN      NaN  49500.0
IT          47000.0  61000.0      NaN
Sales           NaN  44000.0      NaN

C:\Users\svish\AppData\Local\Temp\ipykernel_24148\1977395651.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Age"].fillna(df["Age"].mean(), inplace=True)
C:\Users\svish\AppData\Local\Temp\ipykernel_24148\1977395651.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Salary"].fillna(df["Salary"].median(), inplace=True)

ModuleNotFoundError: No module named 'openpyxl'