# #creating csv file 
## by the help of pandas 
### using python library

In [1]:
import pandas as pd 
dis={"a":[1,2,3,4,5],"b":[3,4,5,6,7],"c":[6,7,8,9,10]}
d=pd.DataFrame(dis)
print(d)
d.to_csv("text_new.csv",index=False,header=[1,2,3])

   a  b   c
0  1  3   6
1  2  4   7
2  3  5   8
3  4  6   9
4  5  7  10

#  Reading data from the csv file
##  by the help of pandas

In [3]:
import pandas as pd 
csv_1=pd.read_csv("C:\\Users\\svish\\OneDrive\\Desktop\\jupyter-notebook\\text_new.csv")
csv_1

   1  2   3
0  1  3   6
1  2  4   7
2  3  5   8
3  4  6   9
4  5  7  10